nav#navbar
  a(href="/") Home page
  if !userData || userData.length < 0
    a(href="/user/login") Login page 
    a(href="/user/registration")  Sign up (Register) page
  else 
    a(href="/posts/addNew") Add new post
    a(href="/posts/myPosts") My posts
    if userData.role && userData.role==="Admin"
      a(href="/user/adminPage") Admin page
    a(href="/user/myAccount") My Account
    button(id="logoutBtn") logout
