nav#navbar
  a(href="/") Home page
  a(href="/myPosts") My Posts
  a(href="/adminPage") Admin page
  if !refreshToken || refreshToken.length < 0
    a(href="/user/login") Login page 
    a(href="/user/registration")  Sign up (Register) page
  else 
    a(href="/user/myAccount") My Account
    button(id="logoutBtn") logout
