doctype html
html(lang="en")
  head
    title Very Exclusive Page
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/styles.css" rel="stylesheet")
    block additionalStyles
    block headContent
  body
    include ../partials/nav
    block content
