section.editAccount

  h2=`Изменить аккаунт:`
  form(id="editForm").form
    .group
      label(for="oldEmail")
        p Email 
        input(type="email" placeholder="myMail@ukr.net" id="oldEmail" name="oldEmail" required )

    .group
      label(for="password")
        p Password
        input(type="password" placeholder="Password123" id="oldPassword" name="oldPassword" required)

    .group
      label(for="newUserEmail")
        p New User Email 
        input(type="email" placeholder="newMail@ukr.net" id="newUserEmail" name="email" required )

    .group
      label(for="newUserPassword")
        p New User Password
        input(type="password" placeholder="NewPassword123" id="newUserPassword" name="password" required)

    .group
      label(for="newUserName")
        p Name
        input(type="text" placeholder="Name" id="newUserName" name="name" required )


    .group
      label(for="newUserSurname")
        p Surname
        input(type="text" placeholder="Surname" id="newUserSurname" name="surname" required )


    .group
      label(for="newUserBirthDate")
        p Birth Date 
        input(type="date" placeholder="####" id="newUserBirthDate" name="birthDate" required )

    button(type="submit") Edit My Account
