extends ../../../layouts/layout

block additionalStyles
    link(href="/auth-styles.css" rel="stylesheet")

block content
    if message
    p#error= message
    include editAccountForm
    include removeAccountForm
    script(type="module" src="/user-edit.js") 