form(id="newCommentForm" data-id=data.id)
    label(for="context").group
        input(type="text" placeholder="Напишите ваш комментарий" id="context" name="context" required)
    button(type="submit") Создать комментарий