section.login
    form(id="loginForm").form
        label(for="email").group
            p Email 
            input(type="email" placeholder="myMail@ukr.net" id="email" name="email" required value=(formData && formData.email))

        label(for="password").group
            p Password
            input(type="password" placeholder="Password123" id="password" name="password" required)

        button(type="submit") login
