extends ../../layouts/layout

block additionalStyles
    link(href="/home-styles.css" rel="stylesheet")

block content
    section.home
        section.posts
            h1.title Последние Посты: || Последние посты с тегом "название тега" :
            each post in posts
                include ./partials/_post
        section.lateralBlock ДопБлок
            include ./partials/_lateral
