extends ../../layouts/layout

block additionalStyles
    link(href="/home-styles.css" rel="stylesheet")

block content
    if errorMassage
        p=errorMassage
    section(id="homeSection").home
        section.posts
            h1.title Последние Посты: || Последние посты с тегом "название тега" :
            each post in posts
                include ./partials/_post
        if tag
            section.lateralBlock
                include ./partials/_lateral

     
