section.registration
    form(id="registrationForm").form
        label(for="name").group
            p Name
            input(type="text" placeholder="Name" id="name" name="name" required value=(formData && formData.name))

        label(for="surname").group
            p Surname
            input(type="text" placeholder="Surname" id="surname" name="surname" required value=(formData && formData.surname))

        label(for="birthDate").group
            p Birth Date 
            input(type="date" placeholder="####" id="birthDate" name="birthDate" required value=(formData && formData.birthDate))

        label(for="email").group
            p Email 
            input(type="email" placeholder="myMail@ukr.net" id="email" name="email" required value=(formData && formData.email))

        label(for="password").group
            p Password
            input(type="password" placeholder="Password123" id="password" name="password" required)

        button(type="submit") Save New User
