section.registration
    form(id="registrationForm").form
        .group
            label(for="name") Name
            input(type="text" placeholder="Name" name="name" required value=(formData && formData.name))

        .group
            label(for="surname") Surname
            input(type="text" placeholder="Surname" name="surname" required value=(formData && formData.surname))

        .group
            label(for="birthDate") Birth Date 
            input(type="date" placeholder="####" name="birthDate" required value=(formData && formData.birthDate))

        .group
            label(for="email") Email 
            input(type="email" placeholder="myMail@ukr.net" name="email" required value=(formData && formData.email))

        .group
            label(for="password") Password
            input(type="password" placeholder="Password123" name="password" required)

        button(type="submit") Save New User
